x-*
.vscode
*.OBJ
*.LST
*.MAP
*.SAV
/STALK-PASCAL/*.MAC
/STALK-PASCAL/StalkPatcher/bin
/STALK-PASCAL/StalkPatcher/obj
/STALK-PASCAL/StalkPatcher/*.suo
/STALK-PASCAL/StalkPatcher/.vs
/KINGOM-PASCAL/*.MAC
/DECOBJ-PASCAL/*.MAC
